target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d2984113-89cc-4cae-a7e0-67708f887b12" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="dira@123" database="splunkdb" />
	</db:config>
	<flow name="splunk-implementationFlow" doc:id="0444f5dd-afc6-45ab-b09b-47dd05ea6bc5" >
		<logger level="INFO" doc:name="Logger" doc:id="835a5389-5201-471e-8de9-165c04e3f9e3" />
		<db:select doc:name="Select" doc:id="760bc5fe-5780-4622-a2d8-4fc0c50056d6" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM emp_records WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	ID: attributes.queryParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5e29adba-dbf9-482a-b3ba-5d5c70377d8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96b6cf7f-6dce-41e0-8bb1-cd6c35d3a007" />
	</flow>
</mule>
